.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.headline {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    padding: 1rem;
}

.subheadline {
    padding: 1rem;
    position: relative;
}

.button_readmore {
    background-color: var(--soft-red);
    color: var(--off-white);
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: 700;
    position: absolute;
    bottom: 0;
}
