.container {
    background-color: hsl(240, 100%, 5%);
}

.header {
    color: hsl(35, 77%, 62%);
    font-weight: 900;
    font-size: 2.5rem;
}

.headline {
    color: hsl(36, 100%, 99%);
    font-weight: 700;
}

.description {
    color: hsl(36, 100%, 99%);
}
